@model Coffee.Entities.Wallet
@{
    ViewBag.Title = "User profile";
}
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<meta content="width=device-width" />
@if (@ViewData["UserRole"].ToString() == "user")
{
    <a asp-action="UserFirstPage" class="btn btn-outline-dark">move to main page</a>
}
else
{
    <a asp-action="AdminFirstPage" class="btn btn-outline-dark">move to main page</a>
}
<body>
<dl class="dl-horizontal">
    <dt>User id</dt>
    <dd>
        @ViewData["UserId"]
    </dd>
    <dt>Name </dt>
    <dd>
        @ViewData["UserName"]
    </dd>
            <dt>Role</dt>
            <dd>
        @ViewData["UserRole"]
            </dd>

            <dt>Money</dt>
            <dd>
        @ViewData["UserMoney"]
            </dd>
</dl>
</body>